@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
}

::-webkit-scrollbar {
	width: 12px;
}

::-webkit-scrollbar-thumb {
	background-color: slategray;
	border: 3px solid #0a182e;
	border-radius: 10px;
}

::-webkit-scrollbar-track {
	background: #0a182e;
}

.animate-logo {
	stroke-dasharray: 320;
	stroke-dashoffset: 0;
	animation: dash 1s ease-in-out;
}

.remove-scrollbar::-webkit-scrollbar {
	display: none;
}

.remove-scrollbar {
	scrollbar-width: 0;
}

@keyframes dash {
	0% {
		stroke-dashoffset: 320;
	}
	30% {
		stroke-dashoffset: 290;
	}
	100% {
		stroke-dashoffset: 0;
	}
}

.pop-out-logo {
	animation: popOut 0.3s ease-in-out;
	animation-fill-mode: forwards;
}

@keyframes popOut {
	0% {
		scale: 1;
	}
	100% {
		scale: 0;
	}
}
